
body{
    background-image: url("contactbg.jpg");
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;

}

.contact-section {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: black;

}

.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffd000;
}

.contact-section p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-size: 14px;
    color: white;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.contact-form button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: black;
    color: #ffd000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    color: red;
}
.submit_button{
    text-align: center;
}